In [47]:
import pandas as pd
import numpy as np
import re

In [4]:
#Making the dataframe
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

In [5]:
#Checking the Dataframe
df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [9]:
#Cleaning the FlightNumber column
df.FlightNumber=np.arange(10045,10086,10)

In [18]:
#Splitting the From_to column
df[["From","To"]]=df.From_To.str.split("_",expand=True)
df.drop("From_To",inplace=True,axis=1)

In [23]:
#Cleaning the from and to column
df["From"]=df.From.apply(lambda x:x.title())
df["To"]=df.To.apply(lambda x:x.title())

In [34]:
#Making function to get delays from delay columns
def get_RecentDelays(l,i):
    try:
        return l[i]
    except:
        return np.nan

In [41]:
#Constructing delay columns
df["delay_1"]=df.RecentDelays.apply(lambda x:get_RecentDelays(x,0))
df["delay_2"]=df.RecentDelays.apply(lambda x:get_RecentDelays(x,1))
df["delay_3"]=df.RecentDelays.apply(lambda x:get_RecentDelays(x,2))
df.drop("RecentDelays",axis=1,inplace=True)

In [46]:
#Cleaning the Airline Column
df.Airline=df.Airline.apply(lambda x:re.sub("[^a-zA-z]","",x))

In [48]:
df

,FlightNumber,Airline,From,To,First_Value,delay_1,delay_2,delay_3
0,10045,KLM,London,Paris,47.0,23.0,47.0,NaN
1,10055,AirFrance,Madrid,Milan,NaN,NaN,NaN,NaN
2,10065,BritishAirways,London,Stockholm,43.0,24.0,43.0,87.0
3,10075,AirFrance,Budapest,Paris,NaN,13.0,NaN,NaN
4,10085,SwissAir,Brussels,London,32.0,67.0,32.0,NaN